:root {
  --blue: #5F89A8;
  --active-blue: #0E4D7B;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#__next main {
  flex: 1;
  display: flex;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav a {
  color: var(--blue);
  padding: 8px;
}

header nav li + li {
  margin-left: 8px;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0px auto;
}

.current-page-link {
  color: var(--active-blue);
  font-weight: bold;
}

.map-container {
  position: relative;
  flex: 1;
  background: url("../public/images/map.png") no-repeat center left fixed;
  background-size: cover;
}

.dropdowns {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.zoom-magnifier {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  right: 24px;
  top: 24px;
}

.zoom-magnifier button {
  border: 1px solid transparent;
  background-color: white;
  font-size: 24px;
  padding: 2px 12px;
  width: 40px;
  text-align: center;
}

.zoom-magnifier button:disabled {
  background-color: #eee;
}

.zoom-magnifier .minus {
  border-radius: 4px 0px 0px 4px;
}

.zoom-magnifier .plus {
  border-radius: 0px 4px 4px 0px;
  border-left: 1px solid #ccc;
}

.range-container {
  margin-top: 32px;
}

.range-container .MuiSlider-markLabel,
.range-container .range-name {
  color: white;
}

.range-name {
  margin-top: 24px;
  font-weight: bold;
  width: 200px;
}

#__next .MuiInputBase-root {
  background-color: white;
  width: 250px;
}

@media screen and (max-width: 560px) {
  header .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  header .wrapper img {
    width: 100px;
  }

  header nav {
    margin-top: 12px;
    width: 100%;
  }

  header nav ul {
    justify-content: center;
  }

  .zoom-magnifier {
    left: 12px;
    bottom: 24px;
    right: auto;
    top: auto;
  }
}

@media screen and (max-width: 720px) {
  .dropdowns {
    flex-direction: column;
    align-items: flex-start;
  }

  .date-search {
    margin-top: 8px;
  }
}
