:root {
  --blue: #5F89A8;
  --active-blue: #0E4D7B;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#__next main {
  flex: 1;
  display: flex;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
}

header nav ul {
  display: flex;
  align-items: center;
}

header nav a {
  color: var(--blue);
  padding: 8px;
}

header nav li + li {
  margin-left: 8px;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0px auto;
}

.current-page-link {
  color: var(--active-blue);
  font-weight: bold;
}

.map-container {
  position: relative;
  flex: 1;
  background: url("../public/images/map.png") no-repeat center left fixed;
  background-size: cover;
  background-position: center center;
}

.dropdowns {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.zoom-magnifier {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  right: 24px;
  top: 24px;
}

.zoom-magnifier button {
  border: 1px solid transparent;
  background-color: white;
  font-size: 24px;
  padding: 2px 12px;
  width: 40px;
  text-align: center;
}

.zoom-magnifier button:disabled {
  background-color: #eee;
}

.zoom-magnifier .minus {
  border-radius: 4px 0px 0px 4px;
}

.zoom-magnifier .plus {
  border-radius: 0px 4px 4px 0px;
  border-left: 1px solid #ccc;
}

.range-container {
  margin-top: 32px;
  margin-left: 20px;
  display: inline-block;
}

.range-container .MuiSlider-markLabel,
.range-container .range-name {
  color: white;
}

.range-name {
  margin-top: 24px;
  font-weight: bold;
  width: 200px;
}

#__next .MuiInputBase-root {
  background-color: white;
  width: 250px;
}

.statistic-container {
  background: #EDF7FF;
  padding: 20px 0px;
  width: 100%;
}

.statistic-container .wrapper {
  display: flex;
  justify-content: space-between;
}

.statistic-container .wrapper > div {
  flex-basis: 48%;
}

.column-left {
  margin-right: 20px;
}

.card {
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 20px 32px;
  background-color: white;
  color: #0E4D7B;
}

.card h1, .card h2 {
  margin: 0px;
}

.card h2 {
  text-align: center;
}

.card p {
  margin: 8px 0px 0px;
}

.card + .card {
  margin-top: 24px;
}

.plastic-worldwide {
  text-align: center;
}

.plastic-worldwide h2 {
  margin-bottom: 12px;
}

.plastic-worldwide p {
  color: #027EC6;
}

.plastic-worldwide .cta {
  margin-top: 12px;
  background: #0E4D7B;
  border-radius: 10px;
  color: white;
  display: inline-block;
  padding: 12px 20px;
}

.plastic-worldwide img {
  width: 100%;
}

.info-card {
  background-color: rgba(14, 77, 123, 0.51);
  background-image: url("../public/images/ocean_background.png");
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: flex-end;
}

.info-card h1 {
  font-size: 28px;
  line-height: 38px;
  color: #BCE1FF;
}

.info-card p {
  font-size: 22px;
  line-height: 22px;
  color: #FFFFFF;
}

.left-columm {
  margin-right: 24px;
}

.info-container {
  align-self: stretch;
  flex: 1;
  margin-right: 20px;
}

.plastic-waste h4 {
  display: flex;
}

.plastic-waste li {
  display: flex;
  align-items: center;
}

.plastic-waste li + li {
  margin-top: 12px;
}

.plastic-waste-info {
  width: 24px;
  height: 24px;
  background: #0069A6;
  display: inline-block;
  margin-right: 8px;
}

.plastic-waste .country {
  width: 100px;
}

.plastic-waste .bar {
  flex: 1;
  display: flex;
  align-items: center;
}

.plastic-waste .bar div {
  background-color: #0069A6;
  height: 28px;
  margin-right: 20px;
  flex-shrink: 1;
}

.plastic-waste .bar p {
  width: 110px;
}

.plastic-growth {
  max-width: 300px;
}

.plastic-by-ocean {
  max-width: 300px;
}

.defris-card {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  background-color: white;
  min-width: 560px;
}

.defris-card > img {
  width: 220px;
}

.defris-card .info {
  padding: 16px 28px 16px 16px;
}

.defris-card h2 {
  margin: 0px;
  border-bottom: 1px solid #9FBDD3;
  color: #0E4D7B;
}

.defris-card .close {
  position: absolute;
  right: 4px;
  top: 4px;
  border: none;
  background-color: transparent;
  color: #027EC6;
}

.defris-card .question {
  color: #2D7DBF;
}

.defris-card .hashtag {
  color: #027EC6;
}

.twitter-button button {
  display: flex;
  align-items: center;
  background-color: #00aced !important;
  color: white !important;
  width: 90px;
  justify-content: center;
  border-radius: 4px;
  padding-right: 8px !important;
}

@media screen and (max-width: 480px) {
  .plastic-waste li {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 560px) {
  header .wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }

  header .wrapper img {
    width: 100px;
  }

  header nav {
    margin-top: 12px;
    width: 100%;
  }

  header nav ul {
    justify-content: center;
  }

  .zoom-magnifier {
    left: 12px;
    bottom: 24px;
    right: auto;
    top: auto;
  }

  .info-card img {
    width: 70px;
  }


  .info-card h1 {
    font-size: 14px;
    line-height: 18px;
  }

  .info-card p {
    font-size: 12px;
    line-height: 16px;
  }

  .defris-card {
    min-width: 300px;
    flex-direction: column;
  }

  .defris-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .defris-card .close {
    background-color: white;
  }
}

@media screen and (max-width: 720px) {
  .dropdowns {
    flex-direction: column;
    align-items: flex-start;
  }

  .date-search {
    margin-top: 8px;
  }
}

@media screen and (max-width: 920px) {
  .left-column {
    margin-right: 0px;
    margin-bottom: 24px;
  }

  .statistic-container .wrapper {
    flex-direction: column;
  }
}
